.abouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;

  padding: 0 100px;
}
.about-text {
  display: block;
  align-items: center;
  width: 1440px;
}
.about h1 {
  color: var(--text-color, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
  text-align: center;
  /* width: 1440px; */
}
.about p {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
/* .box-reytings{
    display: flex;
    flex-wrap: wrap;

} */
.container-about {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.box-reytings {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 50px;
}

.box-reytings > div {
  width: 280px;
  /* background-color: #f2f2f2; */
    background-color: #fff;
  padding: 15px;
  gap: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.box-reyting1 {
  float: left;
}

.box-reyting2 {
  float: right;
}

.box-reyting3 {
  float: left;
}

.box-reyting4 {
  float: right;
}

.box-reytings h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.box-reytings p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.box-reytings .svg {
  text-align: center;
  margin-bottom: 20px;
}

.box-reytings img {
  width: 80px;
  height: 80px;
}

@media (max-width: 768px) {
  .box-reytings {
    flex-wrap: wrap;
  }

  .box-reytings > div {
    width: 48%;
    margin-bottom: 20px;
    float: none;
  }
}